<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NFL Game Predictor</title>
  <meta name="description" content="Logistic Regression">
  <meta name="author" content="Tyler Woods">
  <script src="{{ url_for('static', filename='brython.js')}}"></script>
  <script src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>
    <link rel="stylesheet" type="text/css"
            href="{{ url_for('static',filename='css/bootstrap.css') }}">

</head>

<body onload="brython()">
<script type="text/python" src="{{ url_for('static', filename='brapp.py') }}"></script>

<div class="container">

    <h1 style="color:forestgreen">Will The Home Team Win The Game?</h1>
    <h3 style="color:forestgreen">(Using Logistic Regression Modeling)</h3>
    <div class="container">
        <p style="color:forestgreen">This app will return the probability that the home team will win.</p>
        <p style="color:forestgreen">Please enter data for the past three (3) games for the home team and away team.</p>
    </div>

    <div class="row">
        <ul>
        <!-- These have id's so that later we can pull out data using js. -->
            <li><span>Home Team Score (Average Last 3 Games):</span> <input id="hts"></input></li>
            <li><span>Away Team Score (Average Last 3 Games):</span> <input id="ats"></input></li>
            <li><span>Home Team's Opponent Score (Average Last 3 Games):</span> <input id="hos"></input></li>
            <li><span>Home Team's Wins (Sum Last 3 Games):</span> <input id="hwpg"></input></li>
            <li><span>Away Team's Wins (Sum Last 3 Games):</span> <input id="awpg"></input></li>
        </ul>
    </div>

    <div class="form-group">
        <button type="button" id="solve" class="btn btn-danger">Calculate!</button>
    </div>

    <div>
        <!-- The span has an id so that later we can fill in the solution
             using js. -->
        <p> The probability is: </p>
        <h2 style="color:forestgreen"> <span id="solution"></span> </h2>
    </div>

</div>

</body>
</html>